<?xml version="1.0"?>
<launch>
  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>
  <include file="$(find rit_utils)/launch/robot_display.launch">
    <arg name="prefix" value="ats"/>
  </include>
  <!-- The semantic description that corresponds to the URDF -->
  <param name="$(arg robot_description)_semantic" textfile="$(find r2_moveit_config)/config/r2.srdf" />
  <node name="affordance_template_server" pkg="affordance_template_server" type="affordance_template_server_node" respawn="false" output="screen">
    <param name="robot_config" value="r2_roscontrol.yaml"/>
    <param name="param/trajectory_scaler" value="0.5"/>
    <param name="param/trajectory_density" value="0.1"/>
    <param name="execution_plugin" value="basic_executors::BasicRosControlExecutor"/>
  </node>
</launch>