<?xml version="1.0"?>
<robot name="r2_c_full_body" xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller" 
			xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" 
			xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor" 
			xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

  <gazebo>
    <controller:gazebo_interface name="gazebo_interface" plugin="libgazebo_interface.so">
<!--      <robotNamespace>/r2sim</robotNamespace>-->
      <paramsNamespace>r2_sim_params</paramsNamespace>
      <jointCommandsTopic>joint_commands</jointCommandsTopic>
      <jointStatesTopic>joint_states</jointStatesTopic>
      <jointCapabilitiesTopic>joint_capabilities</jointCapabilitiesTopic>
      <jointCommandRefsTopic>joint_command_refs</jointCommandRefsTopic>
      <jointStatesRate>50.0</jointStatesRate> <!--Hz, omit for fastest possible-->
      <advancedMode>false</advancedMode>
      <!-- if advancedMode=false, joint brakes, etc are not simulated and the following parameters are ignored -->
      <jointControlTopic>joint_control</jointControlTopic>
      <jointStatusTopic>joint_status</jointStatusTopic>
      <jointStatusRate>5.0</jointStatusRate> <!--Hz, omit for fastest possible-->
    </controller:gazebo_interface>
  </gazebo>

</robot>
