<?xml version="1.0"?>
<robot name="r2_fullbody" xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
			xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
			xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
			xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

  <gazebo>
    <plugin name="gazebo_interface" filename="libgazebo_interface.so">
      <paramsNamespace>r2_sim_params</paramsNamespace>
      <jointCommandsTopic>joint_commands</jointCommandsTopic>
      <jointStatesTopic>joint_states</jointStatesTopic>
      <jointStatesRate>20.0</jointStatesRate> <!--Hz, omit for fastest possible-->
      <advancedMode>false</advancedMode>
      <!-- if advancedMode=false, joint brakes, etc are not simulated and the following parameters are ignored -->
      <jointControlTopic>joint_control</jointControlTopic>
      <jointStatusTopic>joint_status</jointStatusTopic>
      <jointStatusRate>5.0</jointStatusRate> <!--Hz, omit for fastest possible-->
    </plugin>
  </gazebo>

</robot>
