<?xml version="1.0"?>
<launch>
  <!-- load world -->
  <node name="gazebo" pkg="gazebo" type="gazebo" args="$(find r2_gazebo)/worlds/r2_ISS_simple.world" output="screen" respawn="false" />

  <!-- load controller parameters-->
  <rosparam file="$(find r2_gazebo)/config/controllers/r2sim_legs_params.yaml" command="load" />
  <rosparam file="$(find r2_gazebo)/config/controllers/r2sim_torso_params.yaml" command="load" />

  <!-- load robot -->
  <param name="/use_sim_time" value="true"/>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find r2_description)/robots/r2c_full_body_ISS.sim.urdf.xacro'" />
  <node name="spawn_r2c_body" pkg="gazebo" type="spawn_model" args="-urdf -param robot_description -model r2c_body -paused=true" respawn="false" output="screen" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <!-- start gui -->
  <node name="gazebo_gui" pkg="gazebo" type="gui" respawn="false" output="screen" />
  
</launch>

