<?xml version="1.0"?>
<launch>

  <env name="GAZEBO_MODEL_PATH" value="$(find r2_gazebo)/Media/models"/>

  <arg name="robot"     default="true" />
  <arg name="gui"       default="true" />
  <arg name="world"     default="r2_ISS_simple" /> <!-- r2_ISS,  r2_ISS_simple, r2_empty_no_gravity-->
  <arg name="gravity"   default="true" />
  <arg name="debug"     default="false" />
  <arg name="i_control" default="false" />
  <arg name="octomap"   default="false" />


  <param name="/use_sim_time" value="true"/>

  <!-- load world -->
  <node name="gazebo" pkg="gazebo_ros" type="debug" args="$(find r2_gazebo)/worlds/$(arg world).world" output="screen" respawn="false" if="$(arg debug)"/>
  <node name="gazebo" pkg="gazebo_ros" type="gzserver" args="$(find r2_gazebo)/worlds/$(arg world).world" output="screen" respawn="false" unless="$(arg debug)"/>

  <group if="$(arg gravity)">
    <param name="/gravity/x" value="0"/>
    <param name="/gravity/y" value="0"/>
    <param name="/gravity/z" value="0"/>
  </group>

  <!-- load robot -->
  <group if="$(arg robot)">
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find r2_gazebo)/robots/r2.sim.urdf.xacro'" />
    <node name="spawn_r2" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model r2 -paused=true" respawn="false" output="screen" />
  </group>

  <!-- load taskboard -->
  <param name="taskboard_description" command="$(find xacro)/xacro.py '$(find r2_gazebo)/urdf/taskboard.urdf.xacro'" />
  <node name="spawn_taskboard" pkg="gazebo_ros" type="spawn_model" args="-urdf -param taskboard_description -model taskboard" respawn="false" output="screen" />

  <!-- load taskboard connectors -->  <!-- ANNOYING!! THESE NEED TO BE DEFINED AFTER A BIT OF A DELAY OR NOT ALL THE MODELS SHOW UP.  FIXME! -->
  <param name="taskboard_B01_description" command="$(find xacro)/xacro.py '$(find r2_gazebo)/urdf/taskboard_B01.urdf.xacro'" />
  <param name="taskboard_B05_description" command="$(find xacro)/xacro.py '$(find r2_gazebo)/urdf/taskboard_B05.urdf.xacro'" />
  <node name="spawn_taskboard_B01" pkg="gazebo_ros" type="spawn_model" args="-urdf -param taskboard_B01_description -model taskboard_B01" respawn="false" output="screen"/>
  <node name="spawn_taskboard_B05" pkg="gazebo_ros" type="spawn_model" args="-urdf -param taskboard_B05_description -model taskboard_B05" respawn="false" output="screen"/>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find r2_gazebo)/config/controllers/r2_generic_traj_control.yaml" command="load"/>

  <!-- load the controllers -->
  <!-- <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="r2" args="r_arm_controller l_arm_controller neck_controller waist_controller joint_state_controller"/> -->

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="r2" args="r_arm_controller l_arm_controller r_hand_controller l_hand_controller neck_controller waist_controller joint_state_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>

  <!-- remap js -->
  <node name="js_remap" pkg="topic_tools" type="relay" respawn="true" output="screen" args="/r2/joint_states /joint_states"/>

  <!-- start gui -->
  <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen" if="$(arg gui)"/>

  <!-- move robot to ready pose -->
  <node name="r2_ready_pose" pkg="r2_control" type="r2_ready_pose.py" respawn="false" output="screen"/>

  <!-- reference frame broadcaster for moveit -->
  <node pkg="tf" type="static_transform_publisher" name="moveit_odom_broadcaster" args="0 0 0 0 0 0 reference_frame world 100" />

  <node pkg="tf" type="static_transform_publisher" name="octomap_odom_broadcaster" args="0 0 0 0 0 0 /world /map 100" if="$(arg octomap)"/>
  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server" args="cloud_in:=/r2/asus/depth/points _resolution:=0.02" if="$(arg octomap)"/>

</launch>
