<?xml version="1.0"?>
<launch>
	<arg name="model" />
	<!-- load world -->
	<node name="gazebo" pkg="gazebo" type="gazebo" args="$(find r2_gazebo)/worlds/r2_empty_no_gravity.world" output="screen" respawn="false"/>
    <!-- load legs -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find r2_description)/robots/r2c_legs.sim.urdf.xacro'" /> 
    <!-- start gui -->
    <param name="use_gui" value="True"/>  
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<node name="rviz" pkg="rviz" type="rviz"/>
</launch>


