<?xml version="1.0"?>
<launch>
  <!-- load world -->
  <include file="$(find r2_gazebo)/launch/empty_world_no_gravity.launch" />

  <!-- load controller parameters-->
  <rosparam file="$(find r2_gazebo)/config/controllers/r2sim_legs_params.yaml" command="load" />
  <rosparam file="$(find r2_gazebo)/config/controllers/r2sim_torso_params.yaml" command="load" />

  <!-- load robot -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find r2_description)/robots/r2c_full_body.sim.urdf.xacro'" />
  <node name="spawn_r2c_body" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model r2c_body -paused=true" respawn="false" output="screen" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  
</launch>

