<?xml version="1.0"?>
<launch>

  <!-- load world -->
  <node name="gazebo" pkg="gazebo_ros" type="gazebo" args="$(find r2_gazebo)/worlds/r2_empty.world" output="screen" respawn="false" />

  <!-- load taskboard -->
  <param name="taskboard_description" command="$(find xacro)/xacro '$(find r2_gazebo)/urdf/taskboard.urdf.xacro'" />
  <node name="spawn_taskboard" pkg="gazebo_ros" type="spawn_model" args="-urdf -param taskboard_description -model taskboard" respawn="false" output="screen" />

  <!-- start gui -->
  <node name="gazebo_gui" pkg="gazebo_ros" type="gui" respawn="false" output="screen" />

 <!-- load taskboard connectors -->  <!-- ANNOYING!! THESE NEED TO BE DEFINED AFTER A BIT OF A DELAY OR NOT ALL THE MODELS SHOW UP.  FIXME! -->
  <param name="taskboard_B01_description" command="$(find xacro)/xacro '$(find r2_gazebo)/urdf/taskboard_B01.urdf.xacro'" />
  <param name="taskboard_B05_description" command="$(find xacro)/xacro '$(find r2_gazebo)/urdf/taskboard_B05.urdf.xacro'" />
  <node name="spawn_taskboard_B01" pkg="gazebo_ros" type="spawn_model" args="-urdf -param taskboard_B01_description -model taskboard_B01" respawn="false" output="screen"/>
  <node name="spawn_taskboard_B05" pkg="gazebo_ros" type="spawn_model" args="-urdf -param taskboard_B05_description -model taskboard_B05" respawn="false" output="screen"/>

  <node pkg="robot_state_publisher" type="state_publisher" name="rob_st_pub" >
    <remap from="robot_description" to="taskboard_description" />
  </node>

</launch>

