*.pyc
*~
affordance_template_server_protobuf/proto_gen/*
*.orig
*.bak
*/*.orig
qtcreator-build/*
*.user
*/CMakeFiles/*
*/catkin_generated/*
*/*.cmake
*/cmake/*
build-*
*/build
*/lib
*/bin
*/msg_gen
*/srv_gen
*/Makefile