<?xml version="1.0"?>
<robot name="r2" xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller" 
			xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" 
			xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor" 
			xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

  <xacro:include filename="$(find r2_description)/urdf/sensors/grasshopper2.gazebo.xacro" />
  <xacro:include filename="$(find r2_description)/urdf/sensors/asus.gazebo.xacro" />
  
  <xacro:grasshopper2_cam_gazebo_v0 camera_name="${robot_name}neck/head/camera0" frame_name="${robot_name}left_camera_optical_frame" /> 
  <xacro:grasshopper2_cam_gazebo_v0 camera_name="${robot_name}neck/head/camera1" frame_name="${robot_name}right_camera_optical_frame" /> 

  <xacro:macro name="asus_camera" params="name parent cam_name">
    <joint name="${name}_ir_joint" type="fixed">
      <!-- <origin xyz="-0.032267 0.0125 0.136453" rpy="0 0 0"/> -->
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="${parent}"/>
      <child link="${name}_ir_link"/>
    </joint>

    <link name="${name}_ir_link">
      <inertial>
        <mass value="0.1" />
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.01"  ixy="0.0"  ixz="0.0"
                 iyy="0.01"  iyz="0.0"
                 izz="0.01" />
      </inertial>

    </link>

    <joint name="${name}_ir_optical_frame_joint" type="fixed">
      <origin xyz="0 0 0" rpy="-1.57 0 -1.57" /> <!-- this works for non-rgb 3d data... -->
      <parent link="${name}_ir_link"/>
      <child link="${name}_ir_optical_frame"/>
    </joint>

    <link name="${name}_ir_optical_frame">
      <inertial>
        <mass value=".1"/>
        <inertia ixx=".0010" ixy="0.0" ixz="0.0" iyy=".0010" iyz="0.0" izz=".0010"/>
      </inertial>
    </link>
    
    <xacro:asus_ir_gazebo_v0 link_name="${name}_ir_link" frame_name="${name}_ir_optical_frame" camera_name="${cam_name}" />

    <joint name="${name}_rgb_joint" type="fixed">
      <origin xyz="0 -0.03 0" rpy="3.14 0 0"/>
      <parent link="${name}_ir_link"/>
      <child link="${name}_rgb_link"/>
    </joint>

    <link name="${name}_rgb_link" >
      <inertial>
      <mass value=".1"/>
      <inertia ixx=".0010" ixy="0.0" ixz="0.0" iyy=".0010" iyz="0.0" izz=".0010"/>
      </inertial>
    </link>

    <joint name="${name}_rgb_optical_frame_joint" type="fixed">
       <origin xyz="0 0 0" rpy="-1.57 0 -1.57" /> 
      <parent link="${name}_rgb_link"/>
      <child link="${name}_rgb_optical_frame"/>
    </joint>

    <link name="${name}_rgb_optical_frame">
        <inertial>
          <mass value=".1"/>
          <inertia ixx=".0010" ixy="0.0" ixz="0.0" iyy=".0010" iyz="0.0" izz=".0010"/>
        </inertial>
    </link>

    <xacro:asus_rgb_gazebo_v0 link_name="${name}_rgb_link" frame_name="${name}_rgb_optical_frame" camera_name="${cam_name}" />
  
  </xacro:macro>
  
  <xacro:asus_camera name="asus" parent="${robot_name}simulated_asus_frame" cam_name="${robot_name}neck/head/range_camera0"/>
 

</robot>
