<?xml version="1.0" ?>

<robot name="taskboard" xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller" 
			xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" 
			xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor" 
			xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">


  <xacro:include filename="$(find r2_gazebo)/urdf/taskboard.B05.xacro" />


</robot>
